/* Let's highlight canvas boundaries */
.grapes-editor {
  ///////////////
  // Overriding
  // ///////////
  #gjs {
    background-color: white;
  }

  /* Reset some default styling */
  .gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
  }

  .gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
  }

  #blocks {
    & > .gjs-one-bg {
      background-color: transparent;
    }
    .gjs-block-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .gjs-blocks-c {
      & > .gjs-block.gjs-one-bg {
        background-color: white;
        border: 0;
        box-shadow: none;
        padding: 1.4rem 1rem 1rem 1rem;
      }

      .gjs-block {
        width: 33.33%;
      }
      .gjs-block-label {
        .label {
          margin-top: 13px;
          color: #333;
          font-size: 11px;
        }
      }
    }
  }

  /////////////////////
  // Custom Style
  // ///////////////////
  .sidebar {
    width: 350px;
    display: flex;
    .minibar {
      width: 60px;
      height: 100%;
      background: #1a232d;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .collapsable {
      width: 100%;
      background: #f2f2f5;
    }
  }
}
